services:
  tests:
    build: .
    env_file:
      - .env
    volumes:
      - ./reports:/app/reports
    command: ["npx", "playwright", "test"]

  portainer:
    image: portainer/portainer-ce:latest
    restart: always
    ports:
      - "9443:9443"
      - "8000:8000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data

  k6:
    image: grafana/k6:latest
    environment:
      - BASE_URL=${BASE_URL:-https://automationintesting.online/}
    volumes:
      - ./performance:/scripts
      - ./reports:/reports
      - ./fixtures:/fixtures
    command: ["run", "--summary-export=/reports/k6-summary.json", "-o", "influxdb=http://influxdb:8086/k6", "/scripts/basic.k6.js"]

  influxdb:
    image: influxdb:1.8
    ports:
      - "8086:8086"
    volumes:
      - ./influxdb/data:/var/lib/influxdb
      - ./influxdb/init:/docker-entrypoint-initdb.d

  grafana:
    image: grafana/grafana:latest
    ports:
      - "3000:3000"
    depends_on:
      - influxdb
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - ./grafana/data:/var/lib/grafana

volumes:
  portainer_data:
